h2{
    color: #369;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
}
.input-group{
    margin-left: 37%!important;
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
p{
    text-align: center;
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.taches{
    width: 30% !important;
}
.form-control{
    width: 30% !important;
}
.btn{
    margin-left: 01%!important;
}